.logo_img {
	height: 40px;
	width: auto;
}

.detail_img {
	height: 14em;
	width: 20em;
}

.mg-left {
	margin-left: 8px;
}

svg {
	height: 16px;
	width: auto;
}
/* 
.justify-between a {
	display: none;
}

.justify-between span {
	display: none;
} */